@model List<Dish>

<h1>All Dishes</h1>
<table style="text-align: center;">
    <tr>
        <th>Name</th>
        <th>Chef</th>
        <th>Tastiness</th>
        <th>Calories</th>
    </tr>
    @foreach (Dish dish in Model)
    {
    <tr>
        <td>@dish.Name</td>
        <td>@dish.Author?.FirstName @dish.Author?.LastName</td>
        <td>@dish.Tastiness</td>
        <td>@dish.Calories</td>
    </tr>
    }
</table>